body {
    font-family: Arial, sans-serif;
    background-color: #34495e; /* Fondo principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ecf0f1; /* Color del texto principal */
}

.login-container {
    background-color: #2c3e50; /* Fondo del contenedor */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
    text-align: center;
    width: 350px;
    color: #ecf0f1; /* Color del texto */
}

.login-container img {
    width: 80px;
    height: 80px;
    background-color: #1abc9c; /* Color del círculo de la imagen */
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #1abc9c; /* Color del título */
}

.login-container input {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #1abc9c; /* Color del borde */
    border-radius: 5px;
    background-color: #34495e; /* Fondo de los inputs */
    color: #ecf0f1; /* Color del texto de los inputs */
}

.login-container input::placeholder {
    color: #bdc3c7; /* Color del placeholder */
}

.login-container button {
    width: 45%;
    padding: 10px;
    margin: 10px 2%;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c; /* Color del botón */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #16a085; /* Color del botón al pasar el mouse */
}

/* Estilos mejorados para el párrafo y el enlace de registro */
.login-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #bdc3c7; /* Color del texto del párrafo */
}

.login-container p a {
    color: #1abc9c; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-container p a:hover {
    color: #16a085; /* Color del enlace al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
